<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage">COMPANY LOGO</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/index">INDEX</a></li>
                    <li><a routerLink="/houses">HOUSES</a></li>
                    <li><a routerLink="/services">SERVICES</a></li>
                    <li><a routerLink="/about">ABOUT</a></li>
                    <li><a routerLink="/contact">CONTACT</a></li>
                    <li><a routerLink="/dashboard">DASHBOARD</a></li>
                </ul>
            </div>
        </div>
      </nav>
<router-outlet></router-outlet> 




