
  <div class="jumbotron text-center">
          <h1>Real Estate Company</h1>
          <p>We Know the Neighborhood</p>
          <p>Join us today.</p>
          <a href="signup" class="btn" role="button" style="color:#ffffff;background-color:#141d26;border-radius: 30px;">Sign Up</a>
          <a href="login" class="btn" role="button" style="color:#ffffff;background-color:#141d26;border-radius: 30px;">Log in</a>
      </div>

      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h9.jpg" />
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h8.jpg" />
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h4.jpg" />
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h7.jpg" />
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h3.jpg" />
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h6.jpg" />
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h9.jpg" />
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h8.jpg" />
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-responsive" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h4.jpg" />
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-body">
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav navbar-left">
                      <li><a>About Us</a></li>
                      <li><a>Services Provided</a></li>
                      <li><a>Contact Us</a></li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="#">1 Column Portfolio</a></li>
                              <li><a href="#">2 Column Portfolio</a></li>
                              <li><a href="#">3 Column Portfolio</a></li>
                              <li><a href="#">4 Column Portfolio</a></li>
                              <li><a href="#">Single Portfolio Item</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="#">Blog Section</a></li>
                              <li><a href="#">Blog Section</a></li>
                              <li><a href="#">Blog Section</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </div>